.task{
    margin: 20px;
    background-color: lightcyan;
    display: flex;
    justify-content: space-between;
    padding: 5px 21px;
}

.App{
    margin: 0 auto;
    max-width: 1280px;

}

.popmodal{
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: whitesmoke;
    padding: 50px;
    min-width: 550px;
    border: 3px solid black;
}

.modalhead{
    display: flex;
    justify-content: space-between;
}

.modalcontent{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 10px;
}